<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ams.springboot.mapper.CourseMapper">

    <select id="getall" resultType="cn.hutool.json.JSONObject">
        SELECT studentid,classid from sys_course GROUP BY studentid,classid
    </select>
</mapper>
